/* Global CSS Commands ----------------------------------------------------- */
.margin-top {
    margin-top: 2rem;
}


/* Navbar ------------------------------------------------------------------ */
.red-back {
    background-color: #b30000;
}

/* Cards ------------------------------------------------------------------- */
.card-space-sides {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Login ------------------------------------------------------------------- */
.login-window {
    width: 40%;
}