/* Global CSS Commands ----------------------------------------------------- */
.margin-top {
    margin-top: 2rem;
}
.remove-link-style {
    color: black;
    text-decoration: none;
}
.remove-link-style:hover {
    color: black;
    text-decoration: none;
}


/* Navbar ------------------------------------------------------------------ */
.icon-rounded {
    border-radius: 10%;
}
.red-back {
    background-color: #b30000;
}

/* Home page --------------------------------------------------------------- */
.jumbo-cheese {
    background-image: url("/images/banner.png");
    background-size: cover;
    background-position: center;
}

/* Cards ------------------------------------------------------------------- */
.card-space-sides {
    margin-left: 1rem;
    margin-right: 1rem;
}
.card-same-height {
    height: 100%;
}
.card-background-highlight:hover {
    background-color: #bfbfbf;
}

/* Login ------------------------------------------------------------------- */
.login-window {
    width: 40%;
}

/* Signup ------------------------------------------------------------------ */
.signup-window {
    width: 40%;
}

/* userDetails ------------------------------------------------------------- */
.button-space {
    margin: auto 2rem;
}

/* userDetails ------------------------------------------------------------- */
.recipe-textarea-size {
    width: 80%;
    height: 150px;
}